{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 52.41850475,
    "longitude": 10.781320353399519,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Home",
    "time_zone": "Europe/Berlin",
    "external_url": "https://hausmeister.wandelt.party",
    "internal_url": null,
    "currency": "EUR",
    "country": "DE",
    "language": "en",
    "radius": 100
  }
}